################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetConsoleAppDemo/.vs/DotNetConsoleAppDemo/v16
/DotNetConsoleAppDemo/DotNetConsoleAppDemo/bin/Debug
/DotNetConsoleAppDemo/DotNetConsoleAppDemo/obj/Debug
/DotNetTest/bin/Debug/netcoreapp3.1
/DotNetTest/obj
